.filters {
  display: flex;
  flex-direction: column;
  max-width: 185px;

  @media (max-width: 640px) {
    position: fixed;
    background: #fff;
    width: 100%;
    height: 100%;
    max-width: none;
    top: 0;
    left: -100%;
    transition: left 0.3s linear;
  }

  &__show-more-colors {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 12px;
    color: #666666;
    text-decoration: underline;
    cursor: pointer;
  }

  &__header-mobile {
    display: none;

    @media (max-width: 640px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px;
      border-bottom: 1px solid #666666;
      margin-bottom: 15px;
    }
  }

  &.filterMobileOpened {
    left: 0;
  }

  &__mobile-title {
    text-transform: uppercase;
    color: #666666;
    font-size: 28px;
  }

  &__titles {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
    margin-left: 5px;
    text-transform: uppercase;

    @media (max-width: 640px) {
      display: none;
    }
  }

  &__header-mobile {
    display: none;

    @media (max-width: 640px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px;
      border-bottom: 1px solid #666666;
      margin-bottom: 15px;
    }
  }

  &__colors-opener {
    display: none;

    @media (max-width: 640px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 16px;
    }
  }

  &__colors-content {
    @media (max-width: 640px) {
      display: none;
    }
  }

  &__more-colors-container {
    margin-right: 3px;
  }

  &__checkbox-content {
    display: flex;
    align-items: center;
  }

  &__colors-content.active {
    @media (max-width: 640px) {
      display: block;
      padding-left: 21px;
    }
  }

  &__close-button {
    width: 20px;
    height: 20px;
    background: #fff;
    display: none;

    @media (max-width: 640px) {
      display: block;
    }
  }

  &__colors-title-mobile {
    @media (max-width: 640px) {
      text-transform: uppercase;
      font-size: 24px;
      margin: 0;
      color: #666666;
    }
  }

  &__colors {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.05em;
    margin-bottom: 15px;

    @media (max-width: 640px) {
      margin-bottom: 0;
    }
  }

  &__sizes-opener {
    display: none;

    @media (max-width: 640px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 16px;
    }
  }

  &__sizes {
    margin-top: 25px;
    display: block;
  }

  &__sizes-title-mobile {
    @media (max-width: 640px) {
      text-transform: uppercase;
      font-size: 24px;
      margin: 0;
      color: #666666;
    }
  }

  &__sizes-buttons {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 640px) {
      display: none;
    }
  }
  &__sizes-buttons.active {
    display: flex;
    padding-left: 21px;
  }

  &__buttons {
    display: flex;
    width: 32px;
    height: 32px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin: 4px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }

  &__buttons.active {
    border: 2px solid #00c0ee;
  }

  &__prices-title-mobile {
    @media (max-width: 640px) {
      text-transform: uppercase;
      font-size: 24px;
      margin: 0;
      color: #666666;
    }
  }

  &__prices-content {
    @media (max-width: 640px) {
      display: none;
    }
  }

  &__prices-content.active {
    display: block;
    padding-left: 21px;
  }

  &__prices-opener {
    display: none;

    @media (max-width: 640px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 16px;
    }
  }

  &__prices {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-top: 25px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    color: gray;
    width: 170px;
    height: 50px;
    cursor: pointer;
    font-size: 26px;
    background-color: #fff;
  }
}

.filtersMobile {
  display: none;
  width: 100%;
  justify-content: center;

  @media (max-width: 640px) {
    display: flex;
  }

  &__orderby {
    display: none;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    color: gray;
    width: 170px;
    height: 50px;
    cursor: pointer;
    font-size: 26px;
    background-color: #fff;
  }
}
