@import "reset";
@import "header";
@import "footer";
@import "filters";
@import "content";
@import "orderby-mobile";

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: "Open Sans", Helvetica, sans-serif;
}

main {
  flex: 1;
  .search {
    &__top {
      padding: 0 16px;
      margin-bottom: 40px;
      margin-top: 40px;
    }

    &__top-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 1440px;
      margin: 0 auto;

      @media (max-width: 640px) {
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
    }

    &__title {
      font-size: 32px;
      line-height: 44px;
    }

    &__orderby {
      width: 142px;
      height: 42px;
      padding: 7px 10px 8px 7px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      cursor: pointer;

      @media (max-width: 640px) {
        display: none;
      }
    }
  }
}
